{{- define "main"}}
<main id="main">
      <!-- ======= Security Section ======= -->
  <section id="how-it-works" class="security">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>256 位元加密技術</h2>
        <p>我哋用政府級別256位元加密技術以保障你嘅個人資料，你嘅交易紀錄會受到嚴格保密。</p>
      </div>
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bxs-check-shield"></i>
            <h4>TLS 協議</h4>
            <p>tiips 採取最新嘅 TLS 協議，加固你同我地嘅資料。</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-lock-alt"></i>
            <h4>控制權限</h4>
            <p>tiips 採用頁面計時，畫面閒置某段時間後就需要重新登入，防止你戶口受到未經允許嘅存取。我地亦為所有活躍投資戶口用戶提供雙重認證及保障。
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-fingerprint"></i>
            <h4>生物認證</h4>
            <p>索取你戶口同訂單資料時，我哋會提供生物認證 (指紋識別或臉部辨識) 確認身分</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-support"></i>
            <h4>嶄新科技</h4>
            <p>為左確保我地嘅系統係最先進同最符合行業嘅做法，我地一直無間斷監測最新嘅保安科技。</p>
          </div>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
          <img src="assets/img/Group 453.png" alt="" class="img-security">
        </div>
      </div>

    </div>
  </section><!-- End Security Section -->
</main>
{{- end}}