{{- define "main"}}
<!-- ======= Hero Section ======= -->
<section id="how" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <div class="words">
            <h1>簡易操作</h1>
            <h2>輕鬆賺取 tiips reward</h2>
            <div>
              <a href="#how-it-works" class="btn-get-started scrollto">知多D!</a>
              <div>
                <a href="#" class="btn-get-started-app bx bxl-apple"></a>
                <a href="#" class="btn-get-started-app bx bxl-play-store"></a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="assets/img/Group 452.png" class="img-bk img-fluid animated" alt="">
          <img src="assets/img/Mon.png" class="img-ft img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
<main id="main">
     <!-- ======= How It Works Section ======= -->
  <section id="how-it-works">
    <div class="how-it-works container">
      <div class="row">
        <div class="col-md-5 ">
          <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">下載<span class="text-green">tiips app</span></h2>
        </div>
        <div class="col-md-7 ">
          <div class="sec-product-device animated" data-aos="fade-right" data-aos-delay="150"><img
              src="assets/img/t1.png" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-works">
    <div class="how-it-works container">
      <div class="row">
        <div class="col-md-5 order-md-2">
          <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">到指定商店<span class="text-green">消費</span></h2>
        </div>
        <div class="col-md-7 order-md-1">
          <div class="sec2-product-device d-md-block animated" data-aos="fade-right" data-aos-delay="150"><img
              src="assets/img/t2.png" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-works">
    <div class="how-it-works container">
      <div class="row">
        <div class="col-md-5">
          <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">掃瞄<span
              class="text-green">積分換領券上 QR code</span></h2>
            </div>
        <div class="col-md-7">
          <div class="sec-product-device d-md-block animated" data-aos="fade-right" data-aos-delay="150"><img
              src="assets/img/t3.png" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="how-it-works" style="margin-bottom: 40px;">
    <div class="how-it-works container">
      <div class="row">
        <div class="col-md-5 order-md-2">
          <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">撳粒制，即可以<span class="text-green">tiips reward</span>換領金融產品</h2>
        </div>
        <div class="col-md-7 order-md-1">
          <div class="sec2-product-device d-md-block animated" data-aos="fade-right" data-aos-delay="150"><img
              src="assets/img/t4.png" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section><!-- End How It Works Section -->
</main>
{{- end}}