{{- define "main"}}
<main id="main">
    <section id="how-it-works" class="how-it-works container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">極低門檻</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">門檻低至 100 tiips reward <br>每次消費，積分都可以變黃金</p>
          </div>
          <div class="col-md-5">
            <div class="sec-product-device d-md-block animated" data-aos="fade-right" data-aos-delay="150"><img src="assets/img/xsxs-03.png" style="width: 100%;"></div>
          </div>
        </div>
      </section>
      
      <section id="how-it-works" class="how-it-works container">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">全免兌換成本</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">tiips 以最新科技降低兌換成本 <br>令你尊享零收費積分兌換黃金服務</p>
          </div>
          <div class="col-md-5 order-md-1">
            <div class="sec-product-device d-md-block animated" data-aos="fade-right" data-aos-delay="150"><img src="assets/img/infograph.png" style="width: 100%;"></div>
          </div>
        </div>
      </section>
</main>
{{- end}}