{{ define "main" }}
<!-- ======= Hero Section ======= -->
<section id="hero" class="position-relative overflow-hidden container-fluid text-center" style="padding: 150px 0; @media (max-width 414px) {section {padding-top: 100px; padding-bottom: 10px;}}">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 data-aos="fade-up" data-aos-delay="100">見微。知著</h1>
    <p data-aos="fade-up" data-aos-delay="160" style="margin: -4.5px 0 16px; font-size:27px;">Penny Dreams Big</p>
    <p data-aos="fade-up" data-aos-delay="160"style="font-size:20px;">一個改變你將來嘅消費投資app</p>
    <div data-aos="fade-up" data-aos-delay="220"><a class="btn-get-started2 scrollto" href="#how-it-works">了解更多</a>
    </div>
    <div class="product-device d-none d-md-block" data-aos="fade-up" data-aos-delay="220"><img src="assets/img/t1.png"
        style="width: 100%;"></div>
    <div class="product-device product-device-2 d-none d-md-block" data-aos="fade-down" data-aos-delay="220"><img
        src="assets/img/t1.png" style="width: 100%;"></div>
  </div>
</section> <!-- End Hero -->

<!-- Hero#2 -->
<section id="hero" class="container-fluid" style="padding: 0;">
  <div class="position-relative overflow-hidden text-center how-it-works">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal" data-aos="zoom-in" data-aos-delay="160">tiips</h1>
      <p class="lead font-weight-normal" style="margin-top: 10px; margin-bottom: 1rem;" data-aos="zoom-in" 
      data-aos-delay="160">將消費變為投資以科技改變生活</p>
      <a class="btn-get-started bx bxl-apple" href="#" data-aos="zoom-in" data-aos-delay="160"></a>
    </div>
  </div>
</section>
<!-- End Hero#2 -->
<main id="main">

  <!-- ======= How It Works Section ======= -->
  <section id="how-it-works">
    <div class="how-it-works container">
      <div class="row">
        <div class="col-md-5 ">
          <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">隨時隨地賺取<br><span class="text-green">tiips reward</span></h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">到指定商店消費簡單一掃，<br>即時賺取無盡 tiips reward</p>
        </div>
        <div class="col-md-7 ">
          <div class="sec-product-device animated" data-aos="fade-right" data-aos-delay="150"><img
              src="assets/img/info-graf-01.png" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-works">
    <div class="how-it-works container">
      <div class="row">
        <div class="col-md-5 order-md-2">
          <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">每筆<span class="text-green">消費</span>都係<span class="text-green">投資</span></h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">消費儲 tiips reward，積少成多</p>
        </div>
        <div class="col-md-7 order-md-1">
          <div class="sec2-product-device d-md-block animated" data-aos="fade-right" data-aos-delay="150"><img
              src="assets/img/info-graf-02.png" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-works">
    <div class="how-it-works container">
      <div class="row">
        <div class="col-md-5">
          <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100">簡單一按<br><span
              class="text-green">輕鬆進入投資世界</span></h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">撳粒制，即時以 tiips reward 換領金融產品</p>
        </div>
        <div class="col-md-7">
          <div class="sec-product-device d-md-block animated" data-aos="fade-right" data-aos-delay="150"><img
              src="assets/img/info-graf-04.png" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="how-it-works" style="margin-bottom: 40px;">
    <div class="how-it-works container">
      <div class="row">
        <div class="col-md-5 order-md-2">
          <h2 class="featurette-heading" data-aos="fade-up" data-aos-delay="100"><span class="text-green">唔洗錢</span>即可投資</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">積分換投資產品 <br>密密消費，密密增值 <br>消費變投資，就係咁簡單</p>
        </div>
        <div class="col-md-7 order-md-1">
          <div class="sec2-product-device d-md-block animated" data-aos="fade-right" data-aos-delay="150"><img
              src="assets/img/info-graf-05.png" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section><!-- End How It Works Section -->

  <!-- ======= Contact Section ======= -->
  <!-- <section id="contact" class="contact-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>我哋喺邊個？</h2>
        <p>我地提倡一個簡單輕鬆嘅投資方法，希望你哋將投資融入生活，長線獲得回報！唔識投資搞到遲遲未開始？俾太高嘅入門費嚇親？
          tiips 為你將投資門檻降低至 HKD 200，化身成屬於你，妳，您嘅投資應用程式，由小額投資開始開展你嘅旅程。</p>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="contact-h2">
          <h2>合作夥伴</h2>
        </div>
        <div class="pic">
          <a href="https://www.dbs.com.hk/index/default.page " target="_blank">
            <img class="pic-img" src="assets/img/dbs.png" alt="dbs" role="button"></a>
        </div>
        <div class="pic">
          <a href="https://www.hkstp.org/" target="_blank">
            <img class="pic-img" src="assets/img/hkstp.png" alt="hkstp" role="button"></a>
        </div>
        <div class="pic">
          <a href="https://www.preface.ai/" target="_blank">
            <img class="pic-img" src="assets/img/Preface Logo.png" alt="preface" role="button"></a>
        </div>
        <div class="pic">
          <a href="https://www.hjfi.hk/index.php/" target="_blank">
            <img class="pic-img" src="assets/img/Snip20191230_6.png" alt="huajin" role="button"></a>
        </div>
      </div>
    </div>
  </section>End Contact Section -->

  <!-- ======= Testimonials Section ======= -->
  <!-- <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>主要團隊</h2>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            King Pak 喺交易系統方面嘅專家，具備超過20年港交所產品同環球交易鏈接嘅經驗。除此之外，佢開設股票衍生工具同期權市場系統，而系統亦受頂尖投資銀行採用。
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="assets/img/testimonials/kp.png" class="testimonial-img" alt="">
          <h3>K.P. Wong</h3>
          <h4>CTO</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Kellog 最初喺 Indosuez W.I. Carr Futures. 擔任交易員。佢有超過20年證券、衍生工具同外匯交易經驗，而家喺私人投資者同創業者。喺創辦 tiips 之前，佢亦營運 Bigmind
            Trading Systems，一個為專業交易人士而設嘅交易系統。
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="assets/img/testimonials/kellog.png" class="testimonial-img" alt="">
          <h3>Kellog Ngai</h3>
          <h4>CEO</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Kenny 喺香港會計師公會成員同澳洲會計師公會嘅澳洲資深註冊會計師。由2000年起，佢成為深圳國際控股有限公司 (0152.HK)
            嘅財務總監。佢熟悉眾多領域例如會計、金融、集資、資本市場運作，仲有香港同中國上市公司管理。
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="assets/img/testimonials/kenny.png" class="testimonial-img" alt="">
          <h3>Kenny Tse</h3>
          <h4>CFO</h4>
        </div>
      </div>

    </div>
  </section>End Testimonials Section -->
</main><!-- End #main -->
{{ end }}