{{ define "main" }}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <div class="words">
            <h1>見微。知著</h1>
            <h2>Penny Dreams Big</h2>
            <div>
              <a href="#how-it-works" class="btn-get-started scrollto">知多D!</a>
              <div>
                <a href="#" class="btn-get-started-app bx bxl-apple"></a>
                <a href="#" class="btn-get-started-app bx bxl-play-store"></a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="assets/img/Group 452.png" class="img-bk img-fluid animated" alt="">
          <img src="assets/img/Mon.png" class="img-ft img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= How It Works Section ======= -->
    <section id="how-it-works" class="how-it-works">
      <div class="container">
        <div class="row">
          <div class="htw">
            <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-right">
              <div class="d-flex justify-content-start">
                <h3>tiips</h3>
                <div class="cn-h3">有咩咁特別?</div>
              </div>
              <p>
                我地係專為你而設嘅碎股投資平台，
              </p>
              <p>
                係tiips你可以隨時隨地以低至 HKD 200 買賣碎股。
              </p>
              <!-- <ul>
              <li><i class="icofont-check-circled"></i> 靈活自主</li>
              <li><i class="icofont-check-circled"></i> 低門檻</li>
              <li><i class="icofont-check-circled"></i> A.I.</li>
            </ul> -->
              <a href="#" class="read-more">知多D!</i></a>
              <div class="row">
                <div class="col-12">
                  <div data-aos="zoom-in" data-aos-delay="150" class="img-sec2">
                    <img src="assets/img/Group 449.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section><!-- End How It Works Section -->


    <!-- ======= Features Section ======= -->
    <section id="how-it-works" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>特徵</h2>
        </div>

        <div class="row">
          <div class="image col-lg-6 order-1 order-lg-1 " data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/Untitled-2.png" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6 order-2 order-lg-2 d-flex flex-column align-items-lg-center">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <div class="d-flex justify-content-start"> <i class="bx bx-dollar-circle"></i>
                <h4>低門檻</h4>
              </div>
              <p>香港啲股票一手閒閒地都要幾千蚊入場費，年青人冇咁容易負擔得起。所以我地將一手股票分拆成碎股，令冇咁大經濟能力既你地都可以負擔得起！</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <div class="d-flex justify-content-start"><i class="bx bx-happy-alt"></i>
                <h4>靈活自主</h4>
              </div>
              <p>我地呢個碎股平台最大既不同之處，就係你可以自由選擇同買賣你想投資既股票，仲可以配搭出你最滿意既投資組合黎月供添！</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <div class="d-flex justify-content-start"><i class="bx bx-atom"></i>
                <h4>智能投資</h4>
              </div>
              <p>我地平台背後有強大既人工智能系統為你服務，為每隻股票計算出相對應既評分，協助你選擇最岩心水既投資組合。</p>

              <div class="row">

                <div class="image col-lg-6 order-1 order-lg-1 ">
                  <ul>
                    <div class="ii"><i class="icofont-check-circled"></i> </div>評分制度</li>
                    <li>
                      <div class="ii"><i class="icofont-check-circled"></i> </div>投資組合生成
                    </li>
                  </ul>
                </div>

                <div class="image col-lg-6 order-2 order-lg-1 ">
                  <ul>
                    <li>
                      <div class="ii"><i class="icofont-check-circled"></i> </div>組合再重組
                    </li>
                    <li>
                      <div class="ii"><i class="icofont-check-circled"></i> </div>智能平均成本
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= tiips points ======= -->
    <section id="how-it-works" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="assets/img/hand.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <div class="d-flex justify-content-start">
              <h3>tiips point</h3>
              <div class="cn-h3">換股票</div>
            </div>
            <p class="body">
              一個全新既獎賞計劃，你地可以透過使用我地既服務同埋介紹朋友加入黎賺取 tiips point，儲夠一定數目後就可以用黎兌換你心儀既股票。我地遲啲仲有更多元化既玩法同合作，令你洗錢既同時都賺到tiips
              point，真正做到寓消費於投資！
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- End points Section -->


    <!-- ======= Counts Section ======= -->
    <section id="how-it-works" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-aos="zoom-in">原來</span>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">100</span>
            <p>tiips Point</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-aos="zoom-in">可以換</span>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-aos="zoom-in">1</span>
            <p>手股票</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Security Section ======= -->
    <section id="how-it-works" class="security">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>數據安全</h2>
          <p>我哋非常著緊你既資料安全，所以會採用唔同先進既加密技術。</p>
        </div>
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bxs-check-shield"></i>
              <h4>唔想個人資料外洩？</h4>
              <p>我哋用政府級別256位元加密技術以保障你嘅個人資料，你嘅交易紀錄會受到嚴格保密。</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-lock-alt"></i>
              <h4>點加固資料？</h4>
              <p>tiips 採取最新嘅 TLS 協議，加固你同我地嘅資料。</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-fingerprint"></i>
              <h4>有冇指紋認證？</h4>
              <p>梗喺有啦！索取你戶口同訂單資料時，我哋會提供生物認證 (指紋識別或臉部辨識) 確認身分。</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-support"></i>
              <h4>技術會唔會過時？</h4>
              <p>為左確保我地嘅系統係最先進同最符合行業嘅做法，我地一直無間斷監測最新嘅保安科技。</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/Group 453.png" alt="" class="img-security">
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Steps Section ======= -->
    <section id="how-it-works" class="step">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-aos="zoom-in">原來</span>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">100</span>
            <p>tiips Point</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-aos="zoom-in">可以換</span>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-aos="zoom-in">1</span>
            <p>手股票</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="how-it-works" class="contact-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>我哋喺邊個？</h2>
          <p>我地提倡一個簡單輕鬆嘅投資方法，希望你哋將投資融入生活，長線獲得回報！唔識投資搞到遲遲未開始？俾太高嘅入門費嚇親？
            tiips 為你將投資門檻降低至 HKD 200，化身成屬於你，妳，您嘅投資應用程式，由小額投資開始開展你嘅旅程。</p>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="contact-h2"><h2>合作夥伴</h2></div>
          <div class="pic">
            <a href="https://www.dbs.com.hk/index/default.page " target="_blank">
              <img class="pic-img"src="assets/img/dbs.png" alt="dbs" role="button"></a>
          </div>
          <div class="pic">
            <a href="https://www.hkstp.org/" target="_blank">
              <img class="pic-img"src="assets/img/hkstp.png" alt="hkstp" role="button"></a>
          </div>
          <div class="pic">
            <a href="https://www.preface.ai/" target="_blank">
              <img class="pic-img"src="assets/img/Preface Logo.png" alt="preface" role="button"></a>
          </div>
          <div class="pic">
            <a href="https://www.hjfi.hk/index.php/" target="_blank">
              <img class="pic-img" src="assets/img/Snip20191230_6.png" alt="huajin" role="button"></a>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="how-it-works" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>主要團隊</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              King Pak 喺交易系統方面嘅專家，具備超過20年港交所產品同環球交易鏈接嘅經驗。除此之外，佢開設股票衍生工具同期權市場系統，而系統亦受頂尖投資銀行採用。
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/kp.png" class="testimonial-img" alt="">
            <h3>K.P. Wong</h3>
            <h4>CTO</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Kellog 最初喺 Indosuez W.I. Carr Futures. 擔任交易員。佢有超過20年證券、衍生工具同外匯交易經驗，而家喺私人投資者同創業者。喺創辦 tiips 之前，佢亦營運 Bigmind
              Trading Systems，一個為專業交易人士而設嘅交易系統。
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/kellog.png" class="testimonial-img" alt="">
            <h3>Kellog Ngai</h3>
            <h4>CEO</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Kenny 喺香港會計師公會成員同澳洲會計師公會嘅澳洲資深註冊會計師。由2000年起，佢成為深圳國際控股有限公司 (0152.HK)
              嘅財務總監。佢熟悉眾多領域例如會計、金融、集資、資本市場運作，仲有香港同中國上市公司管理。
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/kenny.png" class="testimonial-img" alt="">
            <h3>Kenny Tse</h3>
            <h4>CFO</h4>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Steps Section ======= -->
    <!-- <section id="step" class="step section-bg">
      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="fade-rightright" data-aos-delay="500">
            <div class="step-img">
              <ul>
                <li><img src="assets/img/step1@4x.png"></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-right" data-aos-delay="600">
            <div class="step-img">
              <ul>
                <li><img src="assets/img/step2@4x.png"></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-right" data-aos-delay="700">
            <div class="step-img">
              <ul>
                <li><img src="assets/img/step3@4x.png"></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-right" data-aos-delay="800">
            <div class="step-img">
              <ul>
                <li><img src="assets/img/step4@4x.png"></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section>End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>常見問題</h2>
          <p>tiips 是一個打破投資固有門檻的應用程式，我們致力為多數用戶構建分享財富資源的共享平台。</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                href="#faq-list-1">甚麼是主題投資？ <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  項容許你投資於心儀主題的服務，例如飲食或 5G 網絡。您只需要選擇預設主題，所以本平台非常適合初學者。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
                class="collapsed">此項服務最適合甚麼人士？ <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  本服務簡單易用，十分適合投資初學者。<br>
                  tiips 用戶無需具備專業知識，原因如下：<br>
                  i. 專業人士已為你進行評估，所以你可以無後顧之憂地進行投資。<br>
                  ii. 交易只需涉及少量金額。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
                class="collapsed">此服務花費多少？ <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  此平台最低消費為$250，用戶可以透過存款或兌現 tiips 以作增值。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
                class="collapsed">如何開設戶口？ <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  設戶只需3個步驟：<br>
                  i. 登記 <br>
                  ii. 填上相關資料 <br>
                  iii. 準備身分證明文件，透過智能手機確認本人身分。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
                class="collapsed">我應如何使用主題投資？<i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  購買主題投資只需數個步驟: <br>
                  i. 選擇您的心儀主題 <br>
                  ii. 按下訂單 <br>
                  iii. 現在請盡情享用！
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section>End Frequently Asked Questions Section -->



  </main><!-- End #main -->
{{ end }}
