{{- define "main" }}
<!-- ======= Invest Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>投資</h2>
                    <p>你可以作上市公司碎股投資，投資門檻低至港幣$200。</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="company">
                                <img class="company-logo" src="../assets/img/invest/Tencent Logo.png">
                            </div>
                            <h4><a href="">騰訊控股 0700.hk</a></h4>
                            <a data-toggle="collapse" class="collapsed" href="#company-1"><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="#company-1" class="collapse show">
                                <p>騰訊科技股份有限公司是一家中國跨國投資控股集團，其子公司專門在中國及全球提供各種與互聯網相關的服務和產品、娛樂、人工智能和技術。該公司成立於1998年，總部位於中國深圳南山區。騰訊是世界上最大的遊戲公司，是世界上最有價值的技術集團、最大的社交媒體公司、及最大的風險投資公司之一。騰訊控制著眾多行業和領域的數百家子公司和聯營公司，涉及眾多業務，包括搜索引擎、電子商務、零售、電子遊戲、房地產、軟件、虛擬實境、共享汽車、銀行、金融服務及科技。它是全球最活躍的投資公司之一，擁有600多家公司的股份。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <div class="company">
                                <img class="company-logo" src="../assets/img/invest/Link Reit Logo.png">
                            </div>
                            <h4><a href="">領展房產基金 0823.hk</a></h4>
                            <p>領展房地產投資信託基金是香港首家上市的房地產投資信託基金；就市值而言，目前是亞洲最大的房地產投資信託基金。該信託基金由香港特別行政區政府於2004年成立，總部設在香港。該信託基金從房屋委員會中抽出資產做分散投資，其中包括151個大型購物中心（主要位於公共屋村）和79,000個停車位。現在由領展資產管理有限公司管理。他們的投資組合（不包括酒店和服務式公寓）由香港、中國北京、上海、廣州和深圳的零售設施，停車場和辦公室組成。
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="company">
                                <img class="company-logo" src="../assets/img/invest/longfor-properties-logo-vector.png">
                            </div>
                            <h4><a href="">龍湖集團 0960.hk</a></h4>
                            <p>龍湖地產有限公司是一家中國的房地產公司，成立於1993年，公司總部位於中國北京。
                                龍湖集團主要從事房地產開發、商業營運、長租公寓和智能服務。龍湖建立了創新領域，例如養老和城市化項目。他們還提供社區管理、景觀綠化材料維修、房地產中介和其他服務。龍湖已累計開發項目700多個，總開發面積近9000萬平方米。
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="100">
                        <div class="icon-box">
                            <div class="company">
                                <img class="company-logo" src="../assets/img/invest/Fortune Reit logo.png">
                            </div>
                            <h4><a href="">置富產業信託 0778.hk</a></h4>
                            <p>置富產業信託（Fortune
                                REIT）是房地產投資信託基金，投資位於香港的零售購物中心的投資組合。該基金會成立於2003年，總部位於新加坡。置富產業信託是亞洲首個跨境、也是首個在香港持有資產的房地產投資信託基金。財富產業信託目前在香港擁有16個私人住宅零售物業組合，包括300萬平方英尺的零售空間和2,713個停車位。其投資組合中的一些香港購物中心包括置富都會、馬鞍山廣場、置富嘉湖二期和映灣薈。
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <div class="company">
                                <img class="company-logo" src="../assets/img/invest/Sino Biopharm Logo .png">
                            </div>
                            <h4><a href="">中國生物製藥 1177.hk</a></h4>
                            <p>中國生物製藥有限公司是一家中國製藥公司，從事研發、生產和銷售現代化中藥、化學藥品和西藥產品。該公司成立於2000年，總部位於香港。他們的產品範圍廣泛，可用於治療腫瘤、肝臟疾病、心腦疾病、鎮痛、呼吸系統疾病和骨科疾病的各種生物及化學藥物。中生製藥的藥物以以下劑量製造：大/小劑量注射劑、用於靜脈注射的無PVC軟袋、膠囊劑、藥片、粉劑、顆粒劑和膠囊保健食品。
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="company">
                                <img class="company-logo" src="../assets/img/invest/Sunac Logo .png">
                            </div>
                            <h4><a href="">融創中國 1918.hk</a></h4>
                            <p>融創中國控股有限公司（簡稱融創）是總部位於中國天津的大型房地產開發商。該公司專注於大型、中型到高端房地產開發。該公司成立於2003年，總部位於中國天津。融創的業務涵蓋高端住宅物業、文化旅遊、工業房地產、商業地產、酒店、物業服務、娛樂內容的生產和發行、影視拍攝的集成服務等。融創中國有四個定位：融創房地產集團堅持「優越的國家地理位置和高端定位戰略」；
                                融創服務，被定位為「優質生活服務專家」；融創文旅希望成為「中國領先的家庭娛樂服務運營商」；融創文化致力於成為「中國文化產業的龍頭企業」，專注於整個文化產業鏈的內容和部署。
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Invest Section-->
{{- end }}
