{{- define "main"}}
<main id="main">
      <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>常見問題</h2>
          <p>tiips 是一個打破投資固有門檻的應用程式，我們致力為多數用戶構建分享財富資源的共享平台。</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                href="#faq-list-1">甚麼是主題投資？ <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  項容許你投資於心儀主題的服務，例如飲食或 5G 網絡。您只需要選擇預設主題，所以本平台非常適合初學者。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
                class="collapsed">此項服務最適合甚麼人士？ <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  本服務簡單易用，十分適合投資初學者。<br>
                  tiips 用戶無需具備專業知識，原因如下：<br>
                  i. 專業人士已為你進行評估，所以你可以無後顧之憂地進行投資。<br>
                  ii. 交易只需涉及少量金額。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
                class="collapsed">此服務花費多少？ <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  此平台最低消費為$250，用戶可以透過存款或兌現 tiips 以作增值。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
                class="collapsed">如何開設戶口？ <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  設戶只需3個步驟：<br>
                  i. 登記 <br>
                  ii. 填上相關資料 <br>
                  iii. 準備身分證明文件，透過智能手機確認本人身分。
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
                class="collapsed">我應如何使用主題投資？<i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  購買主題投資只需數個步驟: <br>
                  i. 選擇您的心儀主題 <br>
                  ii. 按下訂單 <br>
                  iii. 現在請盡情享用！
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
  </section> <!-- End Frequently Asked Questions Section -->
</main>
{{- end}}